@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

th,
td {
  padding: 20px;
  text-align: start;
}

table {
  color: rgb(21, 43, 55);
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gameList:nth-last-child(1) {
  border-bottom-width: 0;
}

.team {
  min-width: 320px
}

.index {
  background-image: url('/images/index_images/indexbg.webp');
  background-repeat: repeat-y;
  background-position: center;
}

.pages-container {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: medium;
  align-content: center;
  font-weight: 600;
}

.pages-container:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 220px) and (max-width: 525px) {
  .index-title {
    font-size: 12px;
  }

  .search-input {
    width: 160px
  }

  .map {
    margin-bottom: 15px;
  }

  .outdated {
    width: 100%
  }

  .player-info {
    width: 361px;
    flex-direction: column;
  }

  .leaderboard-name {
    font-size: smaller;
    font-weight: 300;
  }

  .leaderboard-data-value {
    font-size: smaller;
    font-weight: 500;
  }

  .leaderboard-column {
    font-size: small;
    font-weight: 600;
  }
}

@media (min-width: 526px) and (max-width: 1024px) {
  .index-title {
    font-size: 15px;
  }

  .search-input {
    width: 360px
  }

  .game-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .map {
    min-width: 280px
  }

  .player-info {
    flex-direction: column;
  }

  .leaderboard-name {
    font-size: medium;
    font-weight: 500;
  }

  .leaderboard-data-value {
    font-size: medium;
    font-weight: 500;
  }

  .leaderboard-column {
    font-size: medium;
    font-weight: 700;
  }
}

@media (min-width: 1025px) and (max-width: 2500px) {
  .index-title {
    font-size: 20px;
  }

  .search-input {
    width: 560px
  }

  .game-info {
    flex-direction: row;
    gap: 80px;
  }

  .all-teams {
    flex-direction: row;
  }

  .team {
    min-width: 310px
  }

  .map {
    min-width: 280px
  }

  .player-portrait {
    width: 384px;
  }

  .leaderboard-name {
    font-size: medium;
    font-weight: 500;
  }

  .leaderboard-data-value {
    font-size: medium;
    font-weight: 500;
  }

  .leaderboard-column {
    font-size: medium;
    font-weight: 700;
  }

}